<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>Alta de solicitud de depósito</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" fill="outline" shape="round" strong="true">
        {{carteraName}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <papx-solicitud-create-form
    [tipo]="cartera"
    (save)="onSave($event)"
  ></papx-solicitud-create-form>
</ion-content>
