<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud de depósito</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" fill="outline" shape="round" strong="true">
        {{carteraName}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="session$ | async as session">
  <papx-solicitud-create-form
    [tipo]="cartera"
    [sucursal]="session.sucursal"
    [solcita]="session.nombre"
    (save)="onSave($event, session)"
    (valueReady)="validarDuplicado($event, session)"
  ></papx-solicitud-create-form>
</ion-content>
<ion-footer *ngIf="session$ | async as session">
  <ion-toolbar>
    <ion-title size="small" slot="end"> {{session.displayName}} </ion-title>
  </ion-toolbar>
</ion-footer>
