<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Depósitos APP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Generación y autorizaciones de transacciones bancarias</strong>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptates?
      Voluptate perferendis corporis labore sit voluptatem reiciendis vero
      suscipit ullam, hic fuga magni laudantium delectus, aut inventore vitae
      cupiditate ducimus.
    </p>
  </div>
</ion-content>
