<ion-list class="ion-no-padding">
  <ion-item *ngFor="let sol of solicitudes" button [routerLink]="sol.id">
    <ion-label>
      <div class="row">
        <span>
          {{ sol.total | currency }}
          <ion-text color="success">
            <small> ({{ sol.transferencia > 0 ? 'TRS' : 'DEP' }}) </small>
          </ion-text>
        </span>
        <span>{{ sol.banco.nombre }}</span>
        <span>{{ sol.cuenta.descripcion }} ({{ sol.cuenta.numero }})</span>
        <span>Fecha: {{ sol.fechaDeposito | date: 'dd/MM/yyyy' }}</span>
      </div>
      <p class="row">
        <span *ngIf="sol.autorizacion">
          Autorizó: {{ sol.autorizacion.createUser }} ({{
            sol.autorizacion.fecha.toDate() | date: 'dd/MM/yyyy: hh:MM'
          }})
          <span>Rep: {{ sol.autorizacion.replicado }}</span>
        </span>
      </p>
    </ion-label>
    <ion-chip slot="start">
      {{ sol.folio }}
    </ion-chip>
    <ion-chip slot="end" color="warning">
      {{ sol.sucursal }}
    </ion-chip>
  </ion-item>
</ion-list>
