<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Depósitos APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-divider color="medium">
    <ion-label> Configuración de cuenta </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-item routerLink="account">
      <ion-label> Inicio de sesión y seguridad </ion-label>
    </ion-item>
    <ion-item>Preferencias</ion-item>
    <ion-item> Mis mensajes</ion-item>
  </ion-list>
</ion-content>
